form {
    font-family: verdana, arial, sans-serif;
    font-size: 9pt;
    line-height: 14pt
}

body {
    font-family: verdana, arial, sans-serif;
    font-size: 9pt;
    line-height: 14pt; /*background-color: #EFEFEF;*/
    scrollbar-face-color: #DEE3E7;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #DEE3E7;
    scrollbar-3dlight-color: #D1D7DC;
    scrollbar-arrow-color: #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #98AAB1;
}

p {
    font-family: verdana, arial, sans-serif;
    font-size: 9pt;
    line-height: 14pt
}

p.dense {
    white-space: nowrap;
    margin: 0pt;
    line-height: 1.3em
}

label {
    font-family: verdana, arial, sans-serif;
    font-size: 9pt;
    line-height: 14pt
}

table {
    font-family: verdana, arial, sans-serif;
    font-size: 9pt;
    line-height: 12pt
}

h1 {
    font-family: verdana, arial, sans-serif;
    font-size: 12pt;
    padding-bottom: 0.5em;
}

h2 {
    font-family: verdana, arial, sans-serif;
    font-size: 9pt;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
}

a {
    font-family: verdana, arial, sans-serif;
    font-size: 9pt;
    text-decoration: none
}

a:link, a:active, a:visited {
    color: #006699
}

a:hover {
    text-decoration: underline;
    color: #DD6900
}

img {
    border-style: none
}

h1 {
    white-space: nowrap;
    font-family: arial, sans-serif;
    color: dimgray;
}

h2 {
    white-space: nowrap;
    margin: 1em 1em 0.2em 0em;
    color: #333333;
}

img {
    vertical-align: text-bottom;
}

.headerSelected {
    padding: 0.3em;
    border: 1px solid;
}

.detail {
    white-space: nowrap;
    color: dimgray;
    font-size: 8pt;
    line-height: 1.25em;
}

.warning {
    white-space: nowrap;
    color: red;
}

.logo {
    font-family: arial, sans-serif;
    white-space: nowrap;
    font-size: 16pt;
}

.albumComment {
    white-space: pre;
    color: dimgray;
    font-size: 8pt;
    line-height: 1.4em;
    padding-top: 0.25em;
}

.log {
    white-space: nowrap;
    font-size: 8pt;
    line-height: 1em;
    border: 1px solid;
}

.color1 {
    background-color: #DEE3E7
}

.color2, body {
    background-color: #EFEFEF;
}

.color3, .headerSelected, .log {
    background-color: lightyellow;
}