Package: subsonic
Version: @VERSION@
Section: Multimedia
Priority: optional
Depends: adduser
Recommends: lame, flac, faad, vorbis-tools, ffmpeg
Architecture: all
Maintainer: Sindre Mehus <sindre@activeobjects.no>
Description: A web-based music streamer, jukebox and Podcast receiver
 Subsonic is a web-based music streamer, jukebox and Podcast receiver,
 providing access to your music collection wherever you are. Use it
 to share your music with friends, or to listen to your music while away
 from home.
 .
 A Subsonic client for Android phones is also available.
 .
 Java 1.6 or higher is required to run Subsonic.
 .
 Subsonic can be found at http://subsonic.org
