<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          package="net.sourceforge.subsonic.androidapp"
          a:versionCode="8"
          a:versionName="1.3.2">

    <uses-permission a:name="android.permission.INTERNET"/>
    <uses-permission a:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission a:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission a:name="android.permission.WAKE_LOCK"/>
    <uses-permission a:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk a:minSdkVersion="3" a:targetSdkVersion="7"/>

    <supports-screens a:anyDensity="true" a:largeScreens="true" a:normalScreens="true" a:smallScreens="true"/>

    <application a:label="Subsonic" a:icon="@drawable/launch" a:theme="@android:style/Theme.Light">

        <activity a:name=".activity.MainActivity"
                  a:label="Subsonic"
                  a:configChanges="orientation|keyboardHidden"
                  a:launchMode="standard">
            <intent-filter>
                <action a:name="android.intent.action.MAIN"/>
                <category a:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity a:name=".activity.SelectArtistActivity"
                  a:configChanges="orientation|keyboardHidden"
                  a:launchMode="standard"/>

        <activity a:name=".activity.SelectAlbumActivity"
                  a:configChanges="orientation|keyboardHidden"/>

        <activity a:name=".activity.SearchActivity"
                  a:label="@string/search.label"
                  a:configChanges="orientation|keyboardHidden"
                  a:launchMode="standard"/>

        <activity a:name=".activity.SelectPlaylistActivity"
                  a:label="@string/playlist.label"
                  a:configChanges="orientation|keyboardHidden"
                  a:launchMode="standard"/>

        <activity a:name=".activity.DownloadActivity"
                  a:configChanges="orientation|keyboardHidden"
                  a:launchMode="singleTask"/>

        <activity a:name=".activity.SettingsActivity"
                  a:theme="@android:style/Theme"
                  a:configChanges="orientation|keyboardHidden"
                  a:launchMode="singleTask"/>

        <activity a:name=".activity.ErrorActivity"
                  a:label="@string/error.label"
                  a:launchMode="singleTask"/>

        <activity a:name=".activity.HelpActivity"
                  a:label="@string/help.label"
                  a:launchMode="singleTask"/>

        <service a:name=".service.DownloadServiceImpl"
                 a:label="Subsonic Download Service"/>

    </application>

</manifest>
