<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          package="net.sourceforge.subsonic.android"
          a:versionCode="1"
          a:versionName="1.0">

    <uses-permission a:name="android.permission.INTERNET"/>

    <application a:label="Subsonic" a:icon="@drawable/launch">

        <activity a:name=".activity.MainActivity"
                  a:label="Subsonic"
                  a:launchMode="singleTask">
            <intent-filter>
                <action a:name="android.intent.action.MAIN"/>
                <category a:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity a:name=".activity.SelectArtistActivity"
                  a:label="Browse music"/>

        <activity a:name=".activity.SelectAlbumActivity"
                  a:label="Browse music"/>

        <activity a:name=".activity.DownloadQueueActivity"
                  a:label="Download queue"
                  a:launchMode="singleTask"/>

        <activity a:name=".activity.SettingsActivity"
                  a:label="Settings"
                  a:launchMode="singleTask"/>

        <activity a:name=".activity.ErrorActivity"
                  a:label="Error"
                  a:launchMode="singleTask"/>

        <service a:name=".service.DownloadService"
                 a:label="Download"/>

    </application>

</manifest>
