<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--TODO: Get rid of ServiceFactory-->
    <bean id="securityService" class="net.sourceforge.subsonic.service.ServiceFactory" factory-method="getSecurityService"/>
    <bean id="settingsService" class="net.sourceforge.subsonic.service.ServiceFactory" factory-method="getSettingsService"/>
    <bean id="searchService" class="net.sourceforge.subsonic.service.SearchService"/>
    <bean id="playerService" class="net.sourceforge.subsonic.service.PlayerService">
        <property name="statusService"><ref bean="statusService"/></property>
        <property name="securityService"><ref bean="securityService"/></property>
    </bean>
    <bean id="playlistService" class="net.sourceforge.subsonic.service.PlaylistService"/>
    <bean id="versionService" class="net.sourceforge.subsonic.service.VersionService"/>
    <bean id="statusService" class="net.sourceforge.subsonic.service.StatusService"/>
    <bean id="musicInfoService" class="net.sourceforge.subsonic.service.MusicInfoService"/>
    <bean id="amazonSearchService" class="net.sourceforge.subsonic.service.AmazonSearchService"/>

    <!-- AJAX services -->
    <bean id="ajaxNowPlayingService" class="net.sourceforge.subsonic.ajax.NowPlayingService">
        <property name="playerService"><ref bean="playerService"/></property>
    </bean>
    <bean id="ajaxTagService" class="net.sourceforge.subsonic.ajax.TagService"/>
    <bean id="ajaxTransferService" class="net.sourceforge.subsonic.ajax.TransferService"/>

</beans>