<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          package="net.sourceforge.subsonic.androidapp"
          a:versionCode="2"
          a:versionName="1.0">

    <uses-permission a:name="android.permission.INTERNET"/>
    <uses-permission a:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission a:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk a:minSdkVersion="3"/>

    <application a:label="Subsonic" a:icon="@drawable/launch">

        <activity a:name=".activity.MainActivity"
                  a:label="Subsonic"
                  a:screenOrientation="portrait"
                  a:launchMode="singleTask">
            <intent-filter>
                <action a:name="android.intent.action.MAIN"/>
                <category a:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity a:name=".activity.SelectArtistActivity"
                  a:label="My music"
                  a:screenOrientation="portrait"/>

        <activity a:name=".activity.SelectAlbumActivity"
                  a:label="My music"
                  a:screenOrientation="portrait"/>

        <activity a:name=".activity.DownloadQueueActivity"
                  a:label="Now downloading"
                  a:screenOrientation="portrait"
                  a:launchMode="singleTask"/>

        <activity a:name=".activity.StreamQueueActivity"
                  a:label="Now playing"
                  a:launchMode="singleTask"
                  a:screenOrientation="portrait"/>

        <activity a:name=".activity.DownloadActivity"
                  a:label="Now playing"
                  a:launchMode="singleTask"
                  a:screenOrientation="portrait"/>

        <activity a:name=".activity.SettingsActivity"
                  a:label="Settings"
                  a:launchMode="singleTask"
                  a:screenOrientation="portrait"/>

        <activity a:name=".activity.ErrorActivity"
                  a:label="Error"
                  a:launchMode="singleTask"
                  a:screenOrientation="portrait"/>

        <activity a:name=".activity.HelpActivity"
                  a:label="Help"
                  a:launchMode="singleTask"
                  a:screenOrientation="portrait"/>

        <service a:name=".service.DownloadService"
                 a:label="Download"/>

        <service a:name=".service.StreamService"
                 a:label="Stream"/>

        <service a:name=".service.DownloadServiceImpl"
                 a:label="Download2"/>

    </application>

</manifest>
